.front-page-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: image-url('beach-black-and-white-nylon-strings-687459.jpg');
  background-size: 100% 100%;
}

.front-stack {
  background-color: rgba(black, 0.89);
  border-radius: 15px;
  align-self: center;
  text-align: center;
  background-blend-mode: color;
  padding: 40px;
  border: .37px solid gray;
  margin-top: 10px;
}

.front-page-header {
  font-family: Roboto;
  font-weight: bold;
  padding: 5px 2px;
  margin: auto;
  font-size: 25px;
  color: white;
}

.front-page-mid {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 100;
  color: white;
  padding: 5px 2px 15px 2px;
}
