.background-login {
  height: 470px;
  background: image-url('Beach.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

}


.wrapper-login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: relative;
  padding: 25px 10px;
  width: 450px;
  margin: auto;
  border-radius: 20px;
  border: 2px solid gray;
}

.login-form-container {
  display: flex;
  justify-content: center;
}

.form-type-login {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  margin-bottom: 17px;
}

.login-input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 18px;
  border-color: gray;
  border-width: thin;
  border-style: solid;
  width: 250px;
  text-align: center;
  margin: 8px;
  margin-bottom: 12px;
  margin-top: 8px;
  color: gray;
}

.session-submit {
  line-height: 2.65px;
  width: 222px;
  text-align: center;
  height: 3px;
  margin-top: 2px;
  margin: 6px;
  background-color: gray;
  /* -webkit-border-radius: 13px; */
  border-radius: 18px;
  border: 2px solid #33FFCA;
  background-color: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  padding: 9px 15px;
  transition: 1s box-shadow;
}

.session-submit:hover {
  background-color: white;
  border-color: #33FFCA;
  color: black;
  box-shadow: 0 5px 25px 0px;
  font-weight: lighter;
}
