.category-icon-background {
  display: flex;
  padding-top: 46px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;
  color: white;
}

.category-icon-wrapper {
  border: .7px solid;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 33%;
  color: black;
  padding: 4px 10px;
}

.snow-icon {
  border: 1px solid lightblue;
  border-radius: 50%;
  padding: 6px;
  background-color: aquamarine;
}

.skate-icon {
  border: 1px solid lightblue;
  border-radius: 50%;
  padding: 6px;
  background-color: aquamarine;
}

.surf-icon {
  border: 1px solid lightblue;
  border-radius: 50%;
  padding: 6px;
  background-color: aquamarine;
}

.snow-icon:hover {

}

.icon-button {
  margin: 5px;
}
